<!DOCTYPE html>
<html
	data-production="<%= settings.production? %>"
	ng-app="signalReportsApp"
	>
	<head>
		<title>SignalReports</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" media="screen,tv"/>
		<!-- link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css" media="screen,tv"/ -->
		<link rel="stylesheet" type="text/css" href="/css/typeahead.js-bootstrap.css" media="screen,tv"/>
		<link rel="stylesheet" type="text/css" href="/styles.css" media="screen,tv"/>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

		<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script type="text/javascript" src="/js/angular-resource.min.js"></script>
		<script type="text/javascript" src="/js/micro-template.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/typeahead.min.js"></script>
		<script type="text/javascript" src="/js/jquery.ba-hashchange.js"></script>
		<script type="text/javascript" src="/js/jquery.deserialize.js"></script>
		<script type="text/javascript" src="/js/strftime.js"></script>
		<script type="text/javascript" src="/js/keyString.js"></script>
		<script type="text/javascript" src="/js/jsdeferred.jquery.js"></script>
		<script type="text/javascript" src="/js/jquery.textcomplete.js"></script>

		<script type="text/javascript" src="/js/script.js"></script>
	</head>
	<body ng-controller="SignalReportListCtrl">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Signal Reports</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#new" ng-click="openForm()">New report</a></li>
					<li><a>Total: {{ total }}</a></li>
				</ul>
				<form class="navbar-form navbar-left" id="search-form" ng-submit="search(true)">
					<div class="form-group">
						<input type="search" placeholder="Search" class="form-control" ng-model="query" ng-keyup="search()">
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href=""><span class="glyphicon glyphicon-cog"></span> Setting</a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>

		<div class="main" style="padding: 0 0 30px 0">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Call sign</th>
						<th>Frequency</th>
						<th>Mode</th>
						<th>Date Time</th>
						<th>UR RST</th>
						<th>MY RST</th>
						<th>Name</th>
						<th>QTH</th>
						<th>Memo</th>
					</tr>
				</thead>
				<tbody id="entries">
					<tr ng-repeat="report in reports | orderBy:orderProp:true" ng-click="openForm(report)" data-id="{{ report.id }}">
						<td class="callsign">{{ report.callsign }}</td>
						<td class="frequency">{{ report.frequency | frequency }}</td>
						<td class="mode"><span class="label label-{{ report.mode | lowercase }} ng-binding">{{ report.mode }}</span></td>
						<td class="datetime"><time data-epoch="{{ report.datetime * 1000 }}">{{ report.datetime | strftime:"%Y-%m-%d %H:%M" }}</time></td>
						<td class="rst">{{ report.ur_rst }}</td>
						<td class="rst">{{ report.my_rst }}</td>
						<td class="name">{{ report.name }}</td>
						<td class="address">{{ report.address }}</td>
						<td class="memo">{{ report.memo }}</td>
					</tr>
				</tbody>
			</table>

			<div class="" style="text-align:center; padding: 0 15px">
				<a href="javascript:void(0)" id="more" class="btn btn-default btn-block" ng-click="loadNext()" ng-show="hasMore"><span class="glyphicon glyphicon-chevron-down"></span></a>
			</div>

			<div class="modal" id="input-form" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" sr-edit-dialog>
				<div class="modal-dialog" style="width: 1000px">
					<div class="modal-content">
						<form class="form-inline" role="form" ng-submit="submit()">
							<div class="modal-header">
								<button type="button" class="close" ng-click="closeForm()" aria-hidden="true">&times;</button>
								<h4 class="modal-title">
									<span class="glyphicon glyphicon-headphones"></span> Signal Report: <span class="edit-type" ng-bind="editType">{{}}</span>
									<input type="button" class="btn btn-danger btn-xs" id="delete" value="Delete" ng-click="deleteReport()" ng-hide="isNew"/>
								</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-lg-3">
										<div class="input-group input-group-sm">
											<span class="input-group-addon">
												Freq.
											</span>
											<input type="text" size="12" name="frequency" class="form-control" value="" placeholder="Frequency" required ng-model="editingReport.frequency"/>
											<span class="input-group-addon">
												MHz
											</span>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="input-group input-group-sm">
											<span class="input-group-addon">
												Mode
											</span>
											<input type="text" size="5" name="mode" class="form-control input-sm" value="CW" required ng-model="editingReport.mode" sr-typeahead-mode/>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="input-group input-group-sm">
											<span class="input-group-addon">
												Date
											</span>
											<input type="date" name="date" class="form-control" value="" required ng-model="editingReport.date"/>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="input-group input-group-sm">
											<span class="input-group-addon">
												Time
											</span>
											<input type="time" name="time" class="form-control" value="" required ng-model="editingReport.time"/>
											<span class="input-group-btn">
												<button class="btn btn-default" type="button" ng-click="setDateTime()" id="now">Now</button>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3">
										<div class="input-group input-group-sm">
											<span class="input-group-addon">
												Call sign
											</span>
											<input type="text" size="10" name="callsign" class="form-control input-sm" required ng-model="editingReport.callsign" sr-typeahead-callsign/>
											<script type="application/x-template" id="callcompl">
												<p style="width: 400px">
												[% if (this.stash.count) { %]
												<strong>[%= value %]</strong> ([%= count %])<br/>
												[%= name %] [%= address %] ([%= country %])
												[% } else { %]
												<strong>[%= country %]</strong><br/>
												[%= area %]
												[% } %]
												</p>
											</script>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="input-group input-group-sm">
											<span class="input-group-addon">
												UR RST
											</span>
											<input type="text" size="3" name="ur_rst" class="form-control input-sm" value="" placeholder="599" required ng-model="editingReport.ur_rst"/>
											<span class="rst-container">
												<div class="rst-dropdown dropdown-menu">
													<table>
														<tr class="readability">
															<th>Readability</th>
															<td></td>
														</tr>
														<tr class="strength">
															<th>Strength</th>
															<td></td>
														</tr>
														<tr class="tone">
															<th>Tone</th>
															<td></td>
														</tr>
													</table>
												</div>
											</span>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="input-group input-group-sm">
											<span class="input-group-addon">
												MY RST
											</span>
											<input type="text" size="3" name="my_rst" class="form-control input-sm" value="" placeholder="599" required ng-model="editingReport.my_rst"/>
											<span class="rst-container">
												<div class="rst-dropdown dropdown-menu">
													<table>
														<tr class="readability">
															<th>Readability</th>
															<td></td>
														</tr>
														<tr class="strength">
															<th>Strength</th>
															<td></td>
														</tr>
														<tr class="tone">
															<th>Tone</th>
															<td></td>
														</tr>
													</table>
												</div>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4">
										<div class="input-group input-group-sm">
											<span class="input-group-addon">
												Name
											</span>
											<input type="text" size="10" name="name" class="form-control input-sm" ng-model="editingReport.name"/>
										</div>
									</div>
									<div class="col-lg-8">
										<div class="input-group input-group-sm">
											<span class="input-group-addon">
												QTH
											</span>
											<input type="text" size="10" name="address" class="form-control input-sm" ng-model="editingReport.address"/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="input-group input-group-sm">
											<span class="input-group-addon">
												Memo
											</span>
											<div>
												<textarea name="memo" class="form-control" style="display: block; width: 100%; height: 10em" ng-model="editingReport.memo"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<input type="hidden" name="id" value=""/>
								<input type="submit" class="btn btn-primary" value="Save changes"/>
							</div>
						</form>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>

		<div class="modal" id="error" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog" style="">
				<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">
								Error
							</h4>
						</div>
						<div class="modal-body">
							<p>{{ error }}</p>
						</div>
				</div>
			</div>
		</div>
	</body>
</html>
